APP_PORT=5555
APP_HOST=localhost

REDIS_PASSWORD=
REDIS_USERNAME=default
REDIS_HOST=0.0.0.0
REDIS_PORT=6379
REDIS_DATABASE=0

DB_USERNAME="postgres"
DB_PASSWORD="123"
DB_NAME="adameds_admisi"
DB_HOST="localhost"
DB_PORT="5432"
DB_DIALECT=postgres
DB_POOL={"acquire": 3000, "max": 30, "min": 10, "idle": 2000}


SYNC_DB=false